body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:752px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-size:14px;
  color:#FFFFFF;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:11px;
  width:139px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:9px;
  height:16px;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:14px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:47px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:14px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:1px;
  width:35px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:46px;
  width:375px;
  height:622px;
  overflow:hidden;
  touch-action:none;
}
#u1172_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:622px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1172_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:953px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:953px;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:468px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:86px;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:18px;
  width:86px;
  height:86px;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:20px;
  width:49px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:58px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:82px;
  width:107px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u1185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:122px;
  width:337px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:202px;
  width:375px;
  height:328px;
  overflow:hidden;
  touch-action:none;
}
#u1187_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:328px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1187_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:328px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:0px;
  width:217px;
  height:328px;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:156px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:328px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:0px;
  width:217px;
  height:328px;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:156px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:328px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:0px;
  width:217px;
  height:328px;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:156px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:328px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(201, 201, 201, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(201, 201, 201, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(201, 201, 201, 0.349019607843137);
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:0px;
  width:217px;
  height:328px;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:156px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:328px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:0px;
  width:217px;
  height:328px;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:156px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:328px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:0px;
  width:217px;
  height:328px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:156px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
  background:inherit;
  background-color:rgba(52, 125, 253, 1);
  border:none;
  border-radius:41px;
  -moz-box-shadow:0px 2px 5px rgba(52, 125, 253, 1);
  -webkit-box-shadow:0px 2px 5px rgba(52, 125, 253, 1);
  box-shadow:0px 2px 5px rgba(52, 125, 253, 1);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:37px;
  width:57px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:53px;
  word-wrap:break-word;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:589px;
  width:19px;
  height:19px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:588px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:2px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:556px;
  width:348px;
  height:1px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:147px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:622px;
  width:349px;
  height:147px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:634px;
  width:47px;
  height:47px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:648px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:699px;
  width:323px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:147px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:784px;
  width:349px;
  height:147px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:796px;
  width:47px;
  height:47px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:810px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:861px;
  width:323px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u1228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:62px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:142px;
  width:194px;
  height:62px;
  color:#FFFFFF;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:190px;
  word-wrap:break-word;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:173px;
  width:0px;
  height:0px;
}
#u1230_seg0 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-4px;
  width:54px;
  height:8px;
}
#u1230_seg1 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-77px;
  width:8px;
  height:81px;
}
#u1230_seg2 {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-77px;
  width:46px;
  height:8px;
}
#u1230_seg3 {
  border-width:0px;
  position:absolute;
  left:-97px;
  top:-83px;
  width:20px;
  height:20px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:20px;
  width:8px;
  height:8px;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:20px;
  width:8px;
  height:8px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:20px;
  width:8px;
  height:8px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:72px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:28px;
  width:300px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:296px;
  word-wrap:break-word;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:64px;
  width:0px;
  height:0px;
}
#u1242_seg0 {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-4px;
  width:66px;
  height:8px;
}
#u1242_seg1 {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:-46px;
  width:8px;
  height:50px;
}
#u1242_seg2 {
  border-width:0px;
  position:absolute;
  left:-77px;
  top:-46px;
  width:19px;
  height:8px;
}
#u1242_seg3 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-52px;
  width:20px;
  height:20px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:65px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:592px;
  width:184px;
  height:65px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:180px;
  word-wrap:break-word;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:472px;
  top:625px;
  width:0px;
  height:0px;
}
#u1246_seg0 {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-4px;
  width:86px;
  height:8px;
}
#u1246_seg1 {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-4px;
  width:8px;
  height:63px;
}
#u1246_seg2 {
  border-width:0px;
  position:absolute;
  left:-402px;
  top:51px;
  width:324px;
  height:8px;
}
#u1246_seg3 {
  border-width:0px;
  position:absolute;
  left:-402px;
  top:32px;
  width:8px;
  height:27px;
}
#u1246_seg4 {
  border-width:0px;
  position:absolute;
  left:-408px;
  top:27px;
  width:20px;
  height:20px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:-233px;
  top:47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
